body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #aa7efc;
}

.topMenu {
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b98deb;
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topMenu .main-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: center;
}

.main-menu h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: 7px;
  padding: 20px 0;
  margin: 0;
}

.topMenu a {
  text-align: center;
  
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  background: #b98deb;
  border-radius: 5px;
  transition: 0.3s;
}

.topMenu a:hover {
  color: #f1f1f1;
  background: #111;
}

.topMenu .closebtn {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

#content-area {
  transition: margin-top 0.5s;
  padding: 16px;
}
